.fighter-preview___root {
  display: flex;
  flex-direction: column;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___name {
  text-align: center;
  color: black;
  -webkit-text-fill-color: #ebd759;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___img {
  height: 300px;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___number {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  background-color: #ebd759;
  border-radius: 4px;
  padding: 2px;
  margin-top: 10px;
}
